<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spinning Wheel</title>
</head>
<body>
    <div class="container">
        <div class="spinBtn"></div>
        <div class="wheel">
            <div class="number" style="--i:1;--clr:#db7093"><span>1</span></div>
            <div class="number" style="--i:2;--clr:#db7093"><span>2</span></div>
            <div class="number" style="--i:3;--clr:#db7093"><span>3</span></div>
            <div class="number" style="--i:4;--clr:#db7093"><span>4</span></div>
            <div class="number" style="--i:5;--clr:#db7093"><span>5</span></div>
            <div class="number" style="--i:6;--clr:#db7093"><span>6</span></div>
            <div class="number" style="--i:7;--clr:#db7093"><span>7</span></div>
            <div class="number" style="--i:8;--clr:#db7093"><span>8</span></div>
        </div>
    </div>
</body>
</html>