/* Simple presentational styles for class 1 */


body {background-image: url("bg4.jpg"); background-color: #f2f2f2; color: #666;}
 
h1 { text-transform: uppercase; color: #a31717; 
     background-color: #f2f2f2; padding: 30px;
     -webkit-border-radius: 20px;
     border-radius: 20px; border: 1px dashed black;}

div { background-color: #f7f5f5; width: 80%; border: 1px dashed black; margin: 20px auto; padding: 20px;
      -webkit-border-radius: 20px;
       border-radius: 20px;}

img {
  border-radius: 50%;
}


hr {border-top: 1px dashed #a31717;}
